@model WebApplication1.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Τίτλος Μαθήματος
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseTitle)
        </dd>
        <dt class = "col-sm-2">
            Εξάμηνο
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseSemaster)
        </dd>
        <dt class = "col-sm-2">
            ΑΦΜ Υπεύθυνου Καθηγητή
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfmNavigation.Afm)
        </dd>
        <dt class="col-sm-2">
            Ονοματεπώνυμο Καθηγητή
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AfmNavigation.Fullname)
        </dd>
        <dt class="col-sm-2">
            Τμήμα
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AfmNavigation.Department)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCourse">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
